<header class="header">
	<div class="header__wrapper">
		<nav class="navmain navbar navbar-expand-lg navbar-light bg-light">
			<div class="container navmain__container">
				<a class="navbar-brand navmain__brand" href="#">
					<img src="/images/logo.svg">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 navmain__list">
					<li class="nav-item">
						<a class="nav-link active" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Helps</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Sign Up</a>
					</li>
				</ul>
				<span class="navbar-text navmain__cta">
					Request demo
					<span>
						<img src="/images/arrow-main.png">
					</span>
				</span>
				</div>
			</div>
		</nav>
	</div>
</header>