.main {
    &__wrapper {
        @include for-phone-only{
            padding: 30px;
        }
    }
}

.homebanner {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: transparent;

    &__left {
        &--headline { 
            h1 {
                font-size : 53px;
                font-weight : 700;
            }
        }

        &--text {
            margin-top: 40px;
            margin-bottom: 40px;
            p {
                font-size : 18px;
                line-height: 35px;
                color : $secondary-text-color;
            }
        }

    }

    &__right {
        img {
            max-width: 771px;
            position: relative;
            top: 45px;
            left: -27px;

            @include for-phone-only{
                width: 100%;
                left: 0;
                position:  inherit;
            }
        }
    }
}

.about {    
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        background: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
        padding-top: 62.5px;
        padding-bottom: 62.5px;
        padding-left: 51px;
        padding-right: 51px;
    }

    &__img {
        width: 100%;
    }

    &__content {
        h2 {
            font-size: 40px;
            font-weight: bold;
            padding-bottom: 28px;
        }

        p {
            line-height: 37px;
            font-size : 18px;
        }
    }
}