.header {
    &__wrapper {
        .navmain {
            background-color : #fff !important;
            padding-top: 24px;
            padding-bottom : 24px;
            
            @include for-phone-only {
               padding-top: 8px;
               padding-bottom: 8px;
            }

            &__brand {
                margin-right: 50px;
            }

            &__list {

                li {
                    margin-left: 15px;
                    margin-right: 15px;
                    color : $primary-text-color;
                }
            }

            &__cta {
                background-color: #fff !important;
                border-radius: 50px;
                box-shadow: 0 2px 2px #eee;
                padding : 5px 20px 5px 20px;
                color: $primary-text-color;
                cursor: pointer;
                 
                span {
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}